<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
  <coverage>
    <report>
      <text outputFile="php://stdout"/>
      <clover outputFile="clover.xml"/>
    </report>
    <include>
        <directory suffix=".php">app</directory>
    </include>
  </coverage>
  <logging />
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:KtPTVcBFp57UaTPYFWbHLBO+QqmfV832I8JFmiN03Dw=" />
    <env name="CACHE_DRIVER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="DYNAMODB_EMAIL_TABLE_NAME" value="Test" />
    <env name="DESTINATION_ADDRESS" value="receiver@example.com" />
    <env name="SENDER_ADDRESS" value="sender@example.com" />
    <env name="RECAPTCHA_URL" value="http://localhost" />
  </php>
</phpunit>
